<ul class="countries-list">
    <li class="country">
        <img src="{{countryFlag}}" alt="{{countryName}}" class="country-flag">
        <h2 class="country-name">{{countryName}}</h2>
    </li>
</ul>